.app{
    min-height: 100vh;
}

.left{
    min-width: 280px;
    padding-top: 38px;
}

.right{
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 43px;
}

.right-title{
    width: 100%;
    z-index: 2;
    background: white;
    top: 0;
    position: fixed;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.right-title-btn{
    margin-left: 30px;
}
